.container {
  width: 90vw;
  margin: auto;
  margin-top: 5px;
}

table {
  border-collapse: collapse;
  width: 70%;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #04AA6D;
  color: white;
}

tr:hover {background-color: Silver;}
